<div class="addTeamForm">
    <form [formGroup]="teamForm" (ngSubmit)="addTeam()">
        <accordion [isAnimated]="true">
            <accordion-group heading="Team Details">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input 
                                formControlName="teamName"
                                id="teamName" 
                                type="text" 
                                class="form-control">
                            <div *ngIf="f.teamName.touched && f.teamName.invalid && f.teamName.errors">
                                <span class="text-danger" *ngIf="f.teamName.errors.required">Name is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="stadium">Stadium</label>
                            <input 
                                formControlName="stadium"
                                id="stadium" 
                                type="text" 
                                class="form-control">
                            <div *ngIf="f.stadium.touched && f.stadium.invalid && f.stadium.errors">
                                <span class="text-danger" *ngIf="f.stadium.errors.required">Stadium Name is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="position">Position</label>
                            <input 
                                formControlName="position"
                                id="position" 
                                type="text" 
                                class="form-control">
                            <div *ngIf="f.position.touched && f.position.invalid && f.position.errors">
                                <span class="text-danger" *ngIf="f.position.errors.required">Position is required.</span>
                                <span class="text-danger" *ngIf="f.position.errors.pattern">Position is incorrect.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                   <div class="col-4">
                        <div class="form-group">
                            <label for="played">Matches Played</label>
                            <input 
                                formControlName="played"
                                id="played" 
                                type="text" 
                                class="form-control">
                            <div *ngIf="f.played.touched && f.played.invalid && f.played.errors">
                                <span class="text-danger" *ngIf="f.played.errors.required">Matches played is required.</span>
                                <span class="text-danger" *ngIf="f.played.errors.pattern">Played is incorrect.</span>
                            </div>
                        </div>
                   </div>
                   <div class="col-4">
                        <div class="form-group">
                            <label for="won">Matches Won</label>
                            <input 
                                formControlName="won"
                                id="won" 
                                type="text" 
                                class="form-control">
                            <div *ngIf="f.won.touched && f.won.invalid && f.won.errors">
                                <span class="text-danger" *ngIf="f.won.errors.required">Matches won is required.</span>
                                <span class="text-danger" *ngIf="f.won.errors.pattern">Matches won is incorrect.</span>
                            </div>
                        </div>
                   </div>
                   <div class="col-4">
                        <div class="form-group">
                            <label for="points">Matches Lost</label>
                            <input 
                                formControlName="lost"
                                id="lost" 
                                type="text" 
                                class="form-control">
                            <div *ngIf="f.lost.touched && f.lost.invalid && f.lost.errors">
                                <span class="text-danger" *ngIf="f.lost.errors.required">Matches Lost is required.</span>
                                <span class="text-danger" *ngIf="f.lost.errors.pattern">Matches Lost is incorrect.</span>
                            </div>
                        </div>
                   </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="points">Matches Drawn</label>
                            <input 
                                formControlName="drawn"
                                id="drawn" 
                                type="text" 
                                class="form-control">
                            <div *ngIf="f.drawn.touched && f.drawn.invalid && f.drawn.errors">
                                <span class="text-danger" *ngIf="f.drawn.errors.required">Matches Drawn is required.</span>
                                <span class="text-danger" *ngIf="f.drawn.errors.pattern">Matches Drawn is incorrect.</span>
                            </div>
                        </div> 
                    </div>
                </div>                
            </accordion-group>
            <accordion-group heading="Player Details">
                <!-- <div *ngFor="let item of teamForm.get('players')['controls']; let i = index;">
                    <div [formGroupName]="i" class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="playerName">Name</label>
                                <input 
                                    formControlName="playerName"
                                    id="playerName" 
                                    type="text" 
                                    class="form-control">
                                <div *ngIf="i.playerName.touched && i.playerName.invalid">
                                    <span class="text-danger" *ngIf="i.playerName.errors.required">Name is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="goalsScored">Goals</label>
                                <input 
                                    formControlName="goalsScored"
                                    id="goalsScored" 
                                    type="text" 
                                    class="form-control">
                                <div *ngIf="i.goalsScored.touched && i.goalsScored.invalid">
                                    <span class="text-danger" *ngIf="i.goalsScored.errors.required">Name is required.</span>
                                </div>
                            </div>                       
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="country">Country</label>
                                <select 
                                    formControlName="country"
                                    id="country"  
                                    class="form-control">
                                <div *ngIf="i.country.touched && i.country.invalid">
                                    <span class="text-danger" *ngIf="i.country.errors.required">Name is required.</span>
                                </div>
                            </div>                       
                        </div>                   
                    </div>
                </div> -->
            </accordion-group>
        </accordion>        
    </form>
</div>

